<div class="box">
  <ul class="list">
    <li>
        <img ngSrc="assets/qualidade.svg" alt="icon qualidade" height="20" width="20"/>
        <div class="titulo">Alta Qualidade</div>
        <p>Oferecemos produtos industriais, com garantia de durabilidade e qualidade.</p>
    </li>
    <li>
        <img ngSrc="assets/satisfacao.svg" alt="logo yamada" height="20" width="20"/>
        <div class="titulo">Satisfação Garantida</div>
        <p>Comprometidos com a sua satisfação, garantimos que nossos produtos e serviços atendam às suas expectativas.</p>
    </li>
    <li>
        <img ngSrc="assets/produtos.svg" alt="logo yamada" height="20" width="20"/>
        <div class="titulo">Preços Acessíveis</div>
        <p>Oferecemos produtos com qualidade e com preços justos.</p>
    </li>
    <li>
        <img ngSrc="assets/atendimento.svg" alt="logo yamada" height="20" width="20"/>
        <div class="titulo">Atendimento Personalizado</div>
        <p>Suporte especializado para soluções feitas sob medida para suas necessidades.</p>
    </li>
  </ul>
</div>
