<footer class="footer">
  <div class="location">
    <img id="location-map" ngSrc="assets/loc%201.png" alt="google maps location" height="619" width="1440"/>
  </div>
  <div id="footer_content">
    <div class="logo">
      <img ngSrc="assets/logo.png" alt="logo" height="78" width="150"/>
    </div>
    <div class="contato">
      <div>Contato</div>
      <ul>
        <li>(62)9 8453-0481</li>
        <li>(62) 3271-2614</li>
      </ul>
    </div>
    <div class="endereco">
      <div>Endereco</div>
      <div>
        R. Salburgo, Nº 119 - Esplanada dos Anicuns, Goiânia - GO, 74433-160
      </div>
    </div>
  </div>
</footer>
