<footer class="footer">
  <div class="location">
    <iframe id="location_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.1907542599592!2d-49.314980224851325!3d-16.66733523410229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef447f6226675%3A0xebb2f385bb19f01d!2sA%C3%A7os%20Yamada!5e0!3m2!1spt-BR!2sbr!4v1709725776431!5m2!1spt-BR!2sbr"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div id="footer_content">
    <div class="logo">
      <img ngSrc="assets/logo.png" alt="logo" height="78" width="150"/>
    </div>
    <div class="contato">
      <div>Contato</div>
      <ul>
        <li>(62)9 8453-0481</li>
        <li>(62) 3271-2614</li>
      </ul>
    </div>
    <div class="endereco">
      <div>Endereco</div>
      <div>
        R. Salburgo, Nº 119 - Esplanada dos Anicuns, Goiânia - GO, 74433-160
      </div>
    </div>
  </div>
</footer>
