<div class="card">
  <h1 class="title1">CORTES E DOBRAS</h1>
  <div class="box box1">
    <div class="content">
      <h2>Realizamento serviços de oxicorte e laser nas chapas de até <i>2’ 1/2’’ POLEGADAS</i>,
      aproximadamente 63,5 mm, além de dobras nas chapas de até <i>1/2’’ POLEGADAS</i>,
        aproximadamente 12,5 mm. Confira nossos preços!
      </h2>
      <button class="btn btn1">PEÇA UM ORÇAMENTO</button>
    </div>
    <div class="bg-1">
    </div>
  </div>
  <h1 class="title2">MATERIAIS INDUSTRIAIS</h1>
  <div class="box box2">
    <div class="bg-2">
    </div>
    <div class="content">
      <ul class="content-list">
        <li>Tubos</li>
        <li>Trefilados (1020 e 1045)</li>
        <li>Tarugos</li>
        <li>Buchas</li>
        <li>Cromo níquel</li>
        <li>Ferros chatos</li>
        <li>Chapas industriais</li>
        <li>Ferros fundidos</li>
      </ul>
      <button class="btn btn2">PEÇA UM ORÇAMENTO</button>
    </div>
  </div>
  <h1 class="title3">PROJETOS PERSONALIZADOS</h1>
  <div class="box box3">
    <div class="content">
      <h2>
        Traga já a sua ideia, projeto ou modelo de serviço para corte! Saiba mais <u>aqui</u>!
      </h2>
      <button class="btn btn3">PEÇA UM ORÇAMENTO</button>
    </div>
    <div class="bg-3">
    </div>
  </div>
</div>
