<footer class="footer">
  <div class="line">
  </div>
  <div class="location">
    <iframe id="location_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.1907542599592!2d-49.314980224851325!3d-16.66733523410229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef447f6226675%3A0xebb2f385bb19f01d!2sA%C3%A7os%20Yamada!5e0!3m2!1spt-BR!2sbr!4v1709725776431!5m2!1spt-BR!2sbr"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div id="footer_content">
    <div class="text">
      <div class="links">
        <ul>
          <li [routerLinkActive]="'active'"><a routerLink="home">Home</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="sobre">Contato</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="servicos">Serviços</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="produtos">Aço Carbono</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="orcamentos">Inox e Alumínio</a></li>
        </ul>
      </div>
      <div class="logo">
        <img ngSrc="assets/logomarca.svg" alt="logo" height="78" width="150"/>
      </div>
      <div class="contato">
        <p>
          Aços Yamada: 62 99935-5551<br/>
          Metalúrgica: 62 99635-0607<br/>
          Yamada Inox: 62 98449-1733<br/>
          Financeiro: 62 99938-8889<br/>
          <a class="icon" href="https://www.instagram.com/grupoyamada/" target="_blank">
            <img class="icon-ig" src="assets/icons/icon-instagram.svg"/>
          </a>
          <a href="mailto:email@provedor.com.br">
            <img class="icon-wpp" src="assets/icons/icon-email.svg"/>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
