* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: #FAFAFA;
}

footer {
  color: #3E3E34;
  width: 100%;
  display: inline-block;
  position: static;
  bottom: 0;
  text-align: center;
}

.line {
  display: inline-block;
  background: #0F6500;
  color: #0F6500;
  width: 100%;
  height: 1px;
  margin-bottom: 50px;
}

#footer_content {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.text {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.location {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

#location_map {
  width: 100%;
  max-width: calc(100vw - 40px);
  height: 40vh;
  min-height: 200px;
}

.contato, .logo, .links {
  width: 461px;
  height: 300px;
}

.title {
  font-weight: 700;
  margin-bottom: 15px;
}

.contato {
  margin-top: 50px;
  text-align: end;
  font-size: 16px;
}

.contato p{
  line-height: 2.5em;
}

.logo {
  align-content: center;
}

.links {
  margin-top: 50px;
  text-align: start;
  line-height: 2.5em;
}

.icon-wpp{
  align-items: center;
  margin-right: 10px;
}
.icon-ig{
  padding: 2.5px;
  align-items: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #3E3E34;
}

.links_img {
  display: inline;
}

@media (min-width: 800px) and (max-width: 1100px) {
  .line {
    width: 100%;
    max-width: 800px;
  }
  .text {
    width: 100%;
    max-width: 800px;
  }
  .location {
    padding: 15px;
  }
  #location_map {
    width: 100%;
    max-width: calc(100vw - 30px);
  }
  .contato, .logo, .links {
    width: 266px;
    height: auto;
    font-size: 14px;
  }
  .logo>img {
    height: 60px;
  }
}

/* Responsive styles for tablets and mobile */
@media (max-width: 800px) {
  #footer_content {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .text {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
  .contato, .logo, .links {
    width: 90vw;
    min-width: 220px;
    max-width: 100vw;
    height: auto;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
  }
  .logo>img {
    height: 48px;
    width: auto;
    margin: 0 auto;
  }
  .links {
    margin-top: 20px;
    line-height: 2em;
  }
  .contato {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }
  .line {
    width: 90vw;
    margin-bottom: 20px;
  }
  .location {
    padding: 10px;
  }
  #location_map {
    width: 100%;
    max-width: calc(100vw - 20px);
    min-width: 280px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .contato, .logo, .links {
    width: 98vw;
    font-size: 13px;
    padding: 0 2vw;
  }
  .logo>img {
    height: 36px;
  }
  .line {
    width: 98vw;
    margin-bottom: 10px;
  }
  .location {
    padding: 5px;
  }
  #location_map {
    width: 100%;
    max-width: calc(100vw - 10px);
    height: 120px;
  }
}
