* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: #FAFAFA;
}

footer {
  color: #3E3E34;
  width: 100%;
  display: inline-block;
  justify-content: center;
  position: static;
  bottom: 0;
  text-align: center;
}

.line {
  display: inline-block;
  color: #0F6500;
  width: 1383px;
}

#footer_content {
  display: flex;
  width: 1393px;
  align-content: center;
  align-self: center;
  justify-content: center;
}

#location_map {
  padding-top: 20px;
  width: 1383px;
  height: 40vh;
}

.logo {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.endereco_img {
  display: inline;
}
