<nav>
  <div class="contacts">
    <!---
<p>(62) 3271-2614</p>
<a class="icon" href="https://api.whatsapp.com/send?phone=55999999999&" target="_blank"><i class="fab fa-whatsapp"></i></a>
<a class="icon" href="https://www.instagram.com/grupoyamada/reels/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
--->
  </div>
  <div class="logo">
      <img ngSrc="assets/logoyamada.svg" alt="logo yamada" height="61" width="110"/>
  </div>
  <div class="links">
    <ul class="nav-itens">
      <li [routerLinkActive]="'active'"><a routerLink="home">Home</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="sobre">Sobre nós</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="servicos">Serviços</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="produtos">Produtos</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="orcamentos">Orçamentos</a></li>
    </ul>
  </div>
</nav>
