* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  color: white;
}

html, body {
  overflow-x: hidden;
}

nav {
  background: #68B04D;
  width: 100%;
  height: 160px;
  display: block;
  justify-content: space-between;
  position: static;
  z-index: 9;
  margin-top: -7px;
  font-size: 16px;
}

.contacts {
  width: 100%;
  text-align: end;
  font-size: 0.8em;
  margin-right: 1em;
  margin-top: 0.5em;
}
h3 {
  display: inline;
  margin-right: 1em;
}

.icon {
  font-size: 15px;
  margin-right: 0.5em;
}

.navbar-superior {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  height: 30px;
  width: 30px;
  margin: 10px;
  visibility: hidden;
}

.logo {
  position: absolute;
  left: 47%;
  top: 2px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.links {
  margin-top: 50px;
}

.nav-itens {
  justify-content: center;
  list-style: none;
  display: flex;
  width: auto;
  padding-top: 15px;
  border-top: solid 1px #85B971;
  transform: translate(0);
}

.nav-itens>li {
  width: 170px;
  /*border: #76BE6A solid 1px;*/
  padding: 10px 5px 10px 5px;
  font-size: 1em;
  text-align: center;
  font-weight: 800;
}

a {
  text-decoration: none;
}

a:hover {
  color: #029e3b;
}

.nav-itens > li.active {
  color: #fff;
  background: #497c37;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(58,124,165,0.10);
  padding: 10px 10px;
  transition: background 0.2s, color 0.2s;
}

@media (max-width: 1100px) {
  nav {
    height: 150px;
  }
  .links {
    margin-top: 10px;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  nav {
    height: 150px;
  }
  .links {
    margin-top: 10px;
  }
  .nav-itens {
    margin-top: 35px;
  }
}

@media (min-width: 250px) and (max-width: 800px) {
  .menu {
    visibility: visible;
  }
  nav {
    height: 80px;
  }
  .logo {
    padding: 0;
    left: 40%;
    border-bottom: none;
  }
  .nav-itens {
    position: fixed; /* Take the menu out of the document flow */
    top: 80px;       /* Position it below the 80px tall navbar */
    left: 0;
    display: block;
    background: rgba(104, 176, 77, 0.8);
    width: 170px;
    height: calc(100vh - 80px); /* Make it fill the rest of the screen */
    margin-top: 0;
    border: none;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 10; /* Ensure it's on top of other page content */
  }

  .nav-itens>li {
    line-height: 30px;
  }

}
