<nav>
  <div class="contacts">
    <!---
<p>(62) 3271-2614</p>
<a class="icon" href="https://api.whatsapp.com/send?phone=55999999999&" target="_blank"><i class="fab fa-whatsapp"></i></a>
<a class="icon" href="https://www.instagram.com/grupoyamada/reels/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
--->
  </div>
  <div class="navbar-superior">
    <div class="menu" (click)="onClickMenu()">
      <img src="assets/icons/menu.svg" alt="responsible menu" >
    </div>
    <div class="logo">
        <img src="assets/logoyamada.svg" alt="logo yamada" height="61" width="110"/>
    </div>
  </div>
  <div class="links">
    <ul class="nav-itens" [ngStyle]="{'transform': transform, 'transition': transition}" >
      <li routerLinkActive="active"><a routerLink="home" (click)="scrollToTop()">HOME</a></li>
      <li routerLinkActive="active"><a routerLink="sobre" (click)="scrollToTop()">CONTATO</a></li>
      <li routerLinkActive="active"><a routerLink="servicos" (click)="scrollToTop()">SERVIÇOS</a></li>
      <li routerLinkActive="active"><a routerLink="produtos" (click)="scrollToTop()">AÇO CARBONO</a></li>
      <li routerLinkActive="active"><a routerLink="orcamentos" (click)="scrollToTop()">INOX E ALUMÍNIO</a></li>
    </ul>
  </div>
</nav>
