<div class="card">
  <h1 class="title1">OXICORTE E PLASMA</h1>
  <div class="box box1">
    <div class="content">
      <h2>Serviços de oxicorte nas chapas de até <i>2’ 1/2’’ POLEGADAS</i>
      aproximadamente 63.5 mm
      </h2>
    </div>
    <div class="bg-1">
    </div>
  </div>
  <h1 class="title2">MATERIAIS INDUSTRIAIS</h1>
  <div class="box box2">
    <div class="bg-2">
    </div>
    <div class="content">
      <ul class="content-list">
        <li>Tubos</li>
        <li>Trefilados (1020 e 1045)</li>
        <li>Tarugos</li>
        <li>Buchas</li>
        <li>Cromo níquel</li>
        <li>Ferros chatos</li>
        <li>Chapas industriais</li>
        <li>Ferros fundidos</li>
      </ul>
    </div>
  </div>
  <h1 class="title3">LASER</h1>
  <div class="box box3">
    <div class="content">
      <h2>SERVIÇOS DE OXICORTE NAS CHAPAS DE ATÉ <i>2’ 1/2’’ POLEGADAS</i>
        APROXIMADAMENTE 63.5 mm
      </h2>
    </div>
    <div class="bg-3">
    </div>
  </div>
</div>
