.content {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sidebar {
  display: block;
  width: 200px;
  height: 100vh;
  background-color: #76BE6A;
  position: fixed;
  top: 119px;
  left: 0;
  overflow-y: auto;
  z-index: -5;
}

.sidebar ul {
  text-align: center;
  list-style-type: circle;
  padding: 0;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  width: 150px;
  height: 1px;
  border-width: 0;
  color: #1e1e1e;
  background-color: #619c5b;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
    color: #dce1e1;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    transition: transform 1s;
  }

sidebar li:hover {
  transform: scale(2);
  color: #0F6500;
}

/* Estilos específicos do card e sua seleção */
.card.selected {
  border-color: #007bff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  margin-left: 100px;
}

