<div class="content">
  <!---
  <div class="sidebar">
    <ul>
      <li><a href="#" onclick="selectCard(1)">Vigas</a></li>
      <hr/>
      <li><a href="#" onclick="selectCard(2)">Trefilados</a></li>
      <hr/>
      <li><a href="#" onclick="selectCard(2)">Chapas</a></li>
      <hr/>
    </ul>
  </div>
  --->
  <div class="card-container">
    <div *ngFor="let produto of produtos" class="card">
      <app-produto [produto]="produto"/>
      <!-- Adicione mais cards aqui, se necessário -->
    </div>
  </div>
</div>
