<div class="content">
  <!---
  <div class="sidebar">
    <ul>
      <li><a href="#" onclick="selectCard(1)">Vigas</a></li>
      <hr/>
      <li><a href="#" onclick="selectCard(2)">Trefilados</a></li>
      <hr/>
      <li><a href="#" onclick="selectCard(2)">Chapas</a></li>
      <hr/>
    </ul>
  </div>
  <div class="card-container">
    <div *ngFor="let produto of produtos" class="card">
      <app-produto [produto]="produto"/>
    </div>
  </div>
  --->
  <ul class="list">
    <li>Cantoneiras</li>
    <li>Vigas</li>
    <li>Barras</li>
    <li>Chapas</li>
    <li>Tubos</li>
    <li>Ferros Fundidos</li>
  </ul>
  <h2 class="title">Tubos Mecânicos</h2>
  <div class="table-row">
    <img class="table-img" src="/assets/fotos/bc.png" alt="Barra Chata" />
    <div class="table">
      <table id="customers" *ngIf="headerRow.length && csvData.length">
        <thead>
          <tr>
            <th *ngFor="let col of headerRow">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of csvData">
            <td *ngFor="let col of headerRow" [attr.data-label]="col">{{ row[col] }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!csvData.length">
        Carregando dados...
      </div>
    </div>
  </div>
</div>
