.content {
  display: block;
}

.sidebar {
  display: block;
  width: 200px;
  height: 100vh;
  background-color: #76BE6A;
  position: fixed;
  top: 119px;
  left: 0;
  overflow-y: auto;
  z-index: -5;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

/* Estilos específicos do card e sua seleção */
.card.selected {
  border-color: #007bff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  margin-top: 50px;
  margin-left: 250px;
  margin-bottom: 200px;
}

.card {
  margin-left: 20px;
}
