<div class="container">
  <div class="content">
    <div class="imagem">
      <img src="assets/fotos/grupo.png" alt="foto da empresa"/>
    </div>
    <div class="pg">
      <h2>
        QUEM SOMOS - <br/><b>GRUPO YAMADA</b>
      </h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis  erat ut quam commodo euismod. Sed auctor arcu a pretium semper.
      Integer  nec elit iaculis eros condimentum accumsan. Fusce dolor mi, lobortis sit  amet sollicitudin sit amet, volutpat ut mi. Vivamus
      placerat hendrerit  magna, consectetur pretium turpis ultricies sed.
      <br/>
      <br/>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis  erat ut quam commodo euismod. Sed auctor arcu a pretium semper.
    </div>
  </div>
</div>
