.container {
  display: flex;
  width: 99vw;
  height: 600px;
  background: #EFEEEA;
  justify-self: center;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-flex;
  width: 1176px;
  height: 546px;
  text-align: center;
  align-content: center;
  margin-top: 80px;
}

.imagem {
  width: 750px;
  height: 546px;
}

img {
  max-width: 700px;
  height: 400px;
  object-fit: cover;
}

h2 {
  font-weight: 400;
  color: #1C1C13;
  margin-bottom: 20px;
  line-height: 34.36px;
}

.pg {
  padding: 0px 0px 100px 100px;
  font-size: 18px;
  line-height: 29px;
  text-align: justify;
  color: #3E3E34;
}

/* Hide the entire component on mobile devices */
@media (max-width: 700px) {
  .container {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  
  .container{
    width: 100vw;
  }
  .content {
    margin-top: 0;
    width: 800px;
    height: 350px;
  }
  img {
    width: 450px;
    height: 350px;
  }

}
