<div class="container">
  <div class="content">
    <div class="imagem">
      <img src="assets/fotos/empresa.webp" alt="foto da empresa"/>
    </div>
    <div class="pg">
      <h2>
        QUEM SOMOS - <br/><b>GRUPO YAMADA</b>
      </h2>
      Fundado em 1970, o Grupo Yamada é referência no setor metalúrgico há mais de cinco décadas. 
      Oferecemos soluções completas em usinagem, cortes a laser, dobras e conformação de metais.
      <br/>
      <br/>
      Nossa expertise abrange projetos personalizados em aço carbono, inox e alumínio, com tecnologia 
      de ponta e compromisso com qualidade e pontualidade.
    </div>
  </div>
</div>
