<div class="container">
  <div class="content">
    <div class="imagem">
      <img src="assets/fotos/grupo.JPG" alt="foto da empresa"/>
    </div>
    <div class="pg">
      <h2>
        QUEM SOMOS - <br/><b>GRUPO YAMADA</b>
      </h2>
      O Grupo Yamada surgiu em 1970, com o esforço dos sócios Mário e Manabu. Inicialmente uma torneadora, a empresa se destacou
      pela qualidade e rapidez dos serviços oferecidos, resultado do empenho dos colaboradores e da equipe em geral. Com o passar dos anos,
      o grupo cresceu e se tornou a sua metalúrgica de confiança que é hoje.
      <br/>
      <br/>
      Estamos sempre inovando e buscando melhorar a qualidade e rapidez dos nossos serviços! Confira os nossos produtos!
    </div>
  </div>
</div>
