<div class="content">
  <div class="title">
    <h2>PRODUTOS <b>EM DESTAQUE</b></h2>
  </div>
  <div class="box">
    <div class="img">
      <img src="/assets/fotos/chapa.png" alt="Card Image">
      <p>Barras de aço</p>
      <button class="btn">FAZER ORÇAMENTO</button>
    </div>
    <div class="img">
      <img src="/assets/fotos/barra%20chata.png" alt="Card Image">
      <p>Barras Chatas</p>
      <button class="btn">FAZER ORÇAMENTO</button>
    </div>
    <div class="img">
      <img src="/assets/fotos/trefilado.jpg" alt="Card Image">
      <p>Trefilados</p>
      <button class="btn">FAZER ORÇAMENTO</button>
    </div>
  </div>
</div>
<div class="mais">
  <button class="btn2">Ver mais produtos</button>
</div>

