<div class="content">
  <div class="title">
    <h2>PRODUTOS <b>EM DESTAQUE</b></h2>
  </div>
  <!-- Desktop: show all -->
  <div class="box" *ngIf="!isMobile">
    <div class="img" *ngFor="let produto of produtos">
      <img [src]="produto.img" alt="Card Image">
      <p>{{produto.nome}}</p>
      <button class="btn" (click)="onContatoClick()">FAZER ORÇAMENTO</button>
    </div>
  </div>
  <!-- Mobile: carousel -->
  <div class="carousel-previa" *ngIf="isMobile">
    <div class="img">
      <img [src]="produtos[currentIndex].img" alt="Card Image">
      <p>{{produtos[currentIndex].nome}}</p>
      <button class="btn" (click)="onContatoClick()">FAZER ORÇAMENTO</button>
    </div>
  </div>
</div>
<div class="mais">
  <button class="btn2" (click)="onContatoClick()">Ver mais produtos</button>
</div>

