/* Estilos gerais */
.carrossel {
  width: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.carrossel-inner {
  display: flex;
  animation: scroll-infinito 15s linear infinite;
}

.carrossel-inner img {
  margin: 0 10px;
  max-height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carrossel:hover .carrossel-inner {
  animation-play-state: paused;
}

/* Animação do scroll infinito */
@keyframes scroll-infinito {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
