.icon {
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 30px;
  background-color: #01e633;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  box-shadow: 2px 2px 2px #c0bdbd;
}

.icon .fab{
  padding-top: 7px;
}

.icon:hover{
  transition-duration: 0.5s;
  background-color: #fff;
  color: #029e3b;
  font-weight: 900;
  box-shadow: 2px 2px 20px #5fe690;
}
