<body>
<app-card-qualidade/>

<div class="container">

  <div class="content">
    <section class="intro">
      <div class="square1">
        <div class="triangle1"></div>
        <div class="triangle2"></div>
        <div class="text1">
          <h1>Sua Metalúrgica de Confiança</h1>
          Na Yamada, somos líderes em soluções metalúrgicas de alta qualidade, oferecendo uma ampla gama de serviços e produtos para atender
          às necessidades industriais mais exigentes. Especializados em serviços de <b>cortes</b>, <b>dobras</b>, <b>materiais industriais</b> e mais,
          garantimos a excelência em cada projeto através de novas tecnologias e controle de qualidade. Nosso compromisso com a inovação e a
          satisfação do cliente nos diferencia, proporcionando soluções duráveis, seguras e eficientes que ajudam nossos clientes a alcançar seus objetivos com confiança.
          Confie na Yamada para transformar suas necessidades em resultados concretos!
        </div>
      </div>

    </section>
    <section class="video">
      <iframe width="800px" height="400px" src="https://www.youtube.com/embed?v=KSlR1MC32oc&list=PLa7cpAvBR2jxeb7WVLh3VWLLIC4U9xWrc"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </section>
    <section>
        <div class="square">
          <div class="triangle"></div>
          <a href="/produtos"><div class="text">PRODUTOS</div></a>
        </div>
      <br/>
        <div class="square">
          <div class="triangle"></div>
          <a href="/servicos">
            <div class="text">SERVIÇOS</div>
          </a>
        </div>
    </section>
  </div>
</div>

</body>
