<body>
<app-carrossel [autoSlide]="true"></app-carrossel>

<div class="container">

  <div class="content">
    <section class="intro">
      <h1>Sua Metalúrgica de Confiança</h1>
      Na Yamada, somos líderes em soluções metalúrgicas de alta qualidade, oferecendo uma ampla gama de serviços e produtos para atender
      às necessidades industriais mais exigentes. Especializados em serviços de cortes, dobras e materiais industriais,
      garantimos a excelência em cada projeto através de tecnologia avançada e processos rigorosos de controle de qualidade. Nosso compromisso com a inovação e a
      satisfação do cliente nos diferencia, proporcionando soluções duráveis, seguras e eficientes que ajudam nossos clientes a alcançar seus objetivos com confiança.
      Confie na Yamada para transformar suas necessidades em resultados concretos.
    </section>
    <section class="video">
      <iframe width="800px" height="400px" src="https://www.youtube.com/embed?v=KSlR1MC32oc&list=PLa7cpAvBR2jxeb7WVLh3VWLLIC4U9xWrc"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </section>
    <section>
      <div class="square">
        <div class="triangle"></div>
        <div class="text">PRODUTOS</div>
      </div>
      <br/>
      <div class="square">
        <div class="triangle"></div>
        <div class="text">SERVIÇOS</div>
      </div>
    </section>
  </div>
</div>

</body>
