body {
  width: 100%;
  height: 2400px;
}
.container {
  margin: auto;
  width: 1200px;
}

.content {
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

@media (max-width: 1200px) {
  body {
    height: 2200px;
    width: 100vw;
  }

  .container {
    width: 100vw;
  }

  .content {
    width: 100vw;
  }

}

@media (max-width: 700px) {
  body {
    height: 2200px;
    width: 100vw;
  }

  .container {
    width: 100vw;
  }

  .content {
    width: 100vw;
  }
}