<body>
<app-card-qualidade/>

<div class="container">

  <div class="content">
    <section class="intro">
      <p>
        PRODUTOS <b>EM DESTAQUE</b>
      </p>
    </section>
    <section class="video">
      <iframe width="800px" height="400px" src="https://www.youtube.com/embed?v=KSlR1MC32oc&list=PLa7cpAvBR2jxeb7WVLh3VWLLIC4U9xWrc"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </section>
    <section>
        <div class="square">
          <div class="triangle"></div>
          <a href="/produtos"><div class="text">PRODUTOS</div></a>
        </div>
      <br/>
        <div class="square">
          <div class="triangle"></div>
          <a href="/servicos">
            <div class="text">SERVIÇOS</div>
          </a>
        </div>
    </section>
  </div>
</div>

</body>
