body {
  width: 100%;
  height: 2400px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  text-align: center;
}

@media (max-width: 700px) {
  .container {
    padding: 0 10px;
  }
}