<div class="container">
  <div class="card">
    <div class="video">
      <video [muted]="'muted'" loop autoplay src="assets/test.mp4"  class="bg_video">
      </video>
      <div class="text">
        <h2 class="title">Cortes à Laser</h2>
        <p class="description">
          Cortes à laser em até 1"(1 polegada - 25mm) nas chapas de ferro, alumínio e inox.
        </p>
      </div>
    </div>
    </div>
  <div class="card">
    <div class="video">
      <video [muted]="'muted'" autoplay loop class="bg_video" >
        <source src="/assets/videos/dobra.mp4">
      </video>
    </div>
    <div class="text">
      <h2 class="title">Dobras</h2>
      <p class="description">
        Dobras nas chapas de até #1/2' (meia polegada), ou 12,7 milímetros em todos os tipos de materiais.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="video">
      <video [muted]="'muted'" autoplay loop class="bg_video">
        <source src="/assets/videos/serra.mp4">
      </video>
    </div>
    <div class="text">
      <h2 class="title">Serra</h2>
      <p class="description">
        Realizamos serviços de cortes de tarugos e trefilados 1020, 1045 e cromo níquel.
      </p>
    </div>
  </div>
</div>
