
.card {
  color: darkslategrey;
  margin: 15px 15px 15px 15px;
  width: 250px;
  height: 220px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.front, .inside, .back {
  padding: 10px 10px 0 10px;
}

.front {
  text-align: center;
}

.front img {
  width: 230px;
  height: 150px;
  margin-bottom: 10px;
}

.inside {
  display: flex;
  flex-direction: column;
  height: 80px;
  text-align: center;
  justify-content: end;
}

.inside p {
  text-align: center;
}

.back {
  text-align: center;
}

.back img {
  max-width: 60px;
}

a {
  color: #007bff;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}
