<div class="card">
  <div class="front">
    <!-- Centered Image or Icon -->
    <img src="https://firebasestorage.googleapis.com/v0/b/yamada-fotos.appspot.com/o/WhatsApp%20Image%202024-02-29%20at%2016.28.08%20(3).jpeg?alt=media&token=021f7d3d-3216-46eb-a41e-de04b19a6844" alt="Card Image">
    <!-- Optional: Simple Greeting or Occasion -->
    <h2>FERRO CHATO</h2>
  </div>
  <div class="inside">
    <!-- Blank Space for Handwritten Message -->
    <p>sdgdsgdsgsdsg</p>
    <a>Saiba mais</a>
  </div>

</div>
