<main class="container">
  <section class="contact-header improved-contact-header">
    <h2>FALE CONOSCO</h2>
    <p class="contact-lead">
      Precisa de um orçamento rápido ou quer tirar dúvidas sobre nossos produtos?<br />
      Nossa equipe está pronta para oferecer atendimento personalizado e soluções sob medida para o seu negócio.<br />
      <span class="contact-highlight"
        >Escolha um vendedor abaixo ou envie sua mensagem. Vamos adorar conversar com você!</span
      >
    </p>
  </section>

  <section class="sellers">
    <h2 class="inox-h2">Soluções em <b>Inox e Alumínio</b></h2>
    <div class="seller-card">
      <h3>Wender</h3>
      <p><strong>Telefone:</strong> <a href="https://api.whatsapp.com/send?phone=5562984946708&" target="_blank">(62) 9 8494-6708</a></p>
      <p><strong>Email:</strong> <a [href]="">yamadainox&#64;hotmail.com</a></p>
    </div>
    <h2>Soluções em <b>Aço Carbono</b></h2>
    <div class="seller-card" *ngFor="let seller of sellers">
      <h3>{{ seller.name }}</h3>
      <p><strong>Telefone:</strong> <a [href]="seller.whatsapp" target="_blank">{{ seller.phone }}</a></p>
      <p><strong>Email:</strong> <a [href]="'mailto:' + seller.email">{{ seller.email }}</a></p>
    </div>
  </section>
